
body {
  background-color: black;
  text-align: center;
}

h1 {
  font-family: 'Lobster', cursive;
  color: pink;
}

p {
  font-family: "Courier New";
  font-size: 30px;
  color: white;
}

#doge-image img {
  height: 140px;
  margin-top: 20px;
}
